config/*
data/output/*
logs/*
plugins/

!config/.gitkeep
!data/output/.gitkeep
!logs/.gitkeep
!models/preprocessed_data/.gitkeep
!plugins/.gitkeep

__pycache__/
.venv
venv/


#IDE 
.vscode/

#Системные фвйлы
.DS_Store